html {
  scroll-behavior: smooth;
}

body {
  padding-top: 50px;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: #f3f3f3;
}

* {
  font-family: MontSerrat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  width: 100%;
  -webkit-box-shadow: 0px 6px 36px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 36px -4px rgba(0, 0, 0, 0.75);
  background-color: #1b191f;
}

nav * {
  background-color: #1b191f;
  color: white;
}

nav button {
  color: white;
}

.hero-image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url("./Imagenes/20181027_172335.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./Imagenes/20181027_172335.jpg");
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #111111;
}

.hero-text span {
  background-color: #6e6e6e;
}

.hero-text span p {
  font-style: italic;
  font-size: 1.9vw;
}

.hero-text h1 {
  font-size: 7vw;
  font-weight: 600;
}

/* About-me section */
#quiensoy:after {
  content: "";
  width: 0;
  height: 0px;
  margin: 0;
  padding: 0;
  /* background-color: #1B191F; */
  border-color: white;
  border-left: 100vw solid transparent;
  border-bottom: 50px solid #1b191f;
  border-top: 0px solid transparent;
  position: absolute;
  top: 0px;
  right: 0;
  -webkit-transform: translateY(-99%);
          transform: translateY(-99%);
}

.about-me {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding-bottom: 5vw;
  position: relative;
  padding-right: 3vw;
}

.about-me img {
  border-radius: 50%;
  height: 16vw;
  width: 16vw;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.about-me img#rotate {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.about-me-text p {
  text-align: left;
  color: #98949e;
  padding-right: 3vw;
  padding-left: 3vw;
}

.container-fluid {
  padding-top: 10vh;
  background-color: #1b191f;
  position: relative;
}

.container-fluid h2 {
  position: block;
  text-align: center;
  top: 20%;
  color: #f3f3f3;
}

/* My tech */
#tecnologias:after {
  content: "";
  width: 0;
  height: 0px;
  margin: 0;
  padding: 0;
  /* background-color: #1B191F; */
  border-color: white;
  border-left: 100vw solid transparent;
  border-bottom: 50px solid #f3f3f3;
  border-top: 0px solid transparent;
  position: absolute;
  top: 0px;
  right: 0;
  -webkit-transform: translateY(-95%);
          transform: translateY(-95%);
}

#tecnologias:before {
  content: "";
  width: 0;
  height: 0px;
  margin: 0;
  padding: 0;
  /* background-color: #1B191F; */
  border-right: 100vw solid transparent;
  border-bottom: 0px solid transparent;
  border-top: 50px solid #f3f3f3;
  position: absolute;
  bottom: 0px;
  right: 0;
  -webkit-transform: translateY(98%);
          transform: translateY(98%);
  z-index: 1;
}

.techs {
  padding: 5vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f3f3;
  position: relative;
}

.techs h2 {
  text-align: center;
}

.tech-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech-box {
  border-radius: 30%;
  padding: 50px;
  margin: 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 10px 41px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 41px -12px rgba(0, 0, 0, 0.75);
}

.tech-box img {
  width: 100px;
  height: auto;
}

/* My projects*/
.projects {
  height: 100vh;
}

.projects .card {
  background-color: #9d9fa5;
  width: 450px;
  height: 600px;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.projects .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 760px) {
  .projects .card {
    width: 80vw;
    height: 70vh;
  }
  .projects .card img {
    height: 300px;
  }
}

.projects .slick-active {
  background-color: white;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.projects .especial-project.slick-active {
  background-color: #e93737;
}

.projects a {
  text-decoration: none;
  color: black;
}

.projects img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
}

.projects img:hover {
  opacity: 0.8;
}

.projects h2 {
  text-align: center;
}

.slick-list.draggable.slick-list.draggable {
  overflow-x: hidden;
}

/* Contact-me*/
.contact-me {
  padding-left: 5vw;
  padding-right: 5vw;
  position: relative;
}

.contact-me h2 {
  text-align: center;
}

.contact-me:after {
  content: "";
  width: 0;
  height: 0px;
  margin: 0;
  padding: 0;
  /* background-color: #1B191F; */
  border-color: white;
  border-left: 100vw solid transparent;
  border-bottom: 50px solid #f3f3f3;
  border-top: 0px solid transparent;
  position: absolute;
  top: 0px;
  right: 0;
  -webkit-transform: translateY(-98%);
          transform: translateY(-98%);
  z-index: 1;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-container a {
  border-radius: 30%;
  height: 15vh;
  width: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 10px 41px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 41px -12px rgba(0, 0, 0, 0.75);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.social-container a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.social-container img {
  height: 10vh;
}

/* Footer */
footer {
  width: 100%;
  background-color: #d4d4d4;
}

footer p {
  margin: 0 0;
  font-size: 10px;
  text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
  .hero-text h1 {
    font-size: 80px;
  }
  .hero-text p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 860px) {
  .hero-text h1 {
    font-size: 6vw;
  }
  .hero-text p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .hero-text h1 {
    font-size: 30px;
  }
  .hero-text p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .hero-text h1 {
    font-size: 20px;
  }
  .hero-text p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */